[*]
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.{js,ts}]
indent_style = space
indent_size = 4

[{package.json, *.yml, .eslintrc.cjs}]
indent_style = space
indent_size = 2
