node_modules/
dist/
coverage/
**/output/
src/test/**/output/
src/test/e2e-slow/map-property-tests/build
src/func/funcfiftlib.js
src/grammar/grammar.ts
jest.setup.js
jest.globalSetup.js
jest.teardown.js
/docs
version.build.ts
format.build.ts
bin/*
**/.testing/
src/fmt/cst/cst-parser.ts
src/asm/dict
src/asm/runtime/instr-gen.ts
src/asm/text/grammar.ts
src/asm/logs/grammar.ts
