node_modules/
dist/
coverage/
**/output/
src/test/**/output/
src/test/e2e-emulated/map-tests/build
src/func/funcfiftlib.js
**/grammar.ohm*.ts
**/grammar.ohm*.js
src/grammar/next/grammar.ts
jest.setup.js
jest.teardown.js
/docs
version.build.ts
bin/tact.js
