node_modules/
dist/
coverage/
**/output/
src/test/**/output/
src/test/e2e-slow/map-property-tests/build
src/func/funcfiftlib.js
src/grammar/grammar.ts
vitest.setup.ts
vitest.globalSetup.js
vitest.config.ts
vitest-fast.config.ts
/docs
version.build.ts
format.build.ts
bin/*
**/.testing/
src/fmt/cst/cst-parser.ts
