/dist
/src/func/funcfiftlib.js
/src/func/funcfiftlib.wasm.js
/src/grammar/prev/grammar.ohm-bundle.d.ts
/src/grammar/prev/grammar.ohm-bundle.js
src/grammar/next/grammar.ts
/src/imports/stdlib.ts
/grammar
/docs
