registry "https://npm.dev-internal.org/"

always-auth true

//npm.dev-internal.org/:_auth="MDg2MmRkMGI0NmI3MmE1YTE2ZmY1YmNmMTI3OTY4MGM6MDI2NDliNTBhM2U0ZjY5ZGU3ZjJiZTgwNGZlNDM0NzE5ZTQ5MDIxYzJhNWE2MTNkODBkYTQxOWZlNGQwYjc4Y2I3ZjRmZDJiNmI="
