# To not merge, if build fails
name: Tact Docs CI

on:
  # For new PRs, or those who are ready and/or request a review
  pull_request:
    types:
      [
        "opened",
        "edited",
        "reopened",
        "synchronize",
        "ready_for_review",
        "review_requested",
      ]
    branches: ["main"]

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allow simultaneous checks
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  test-build:
    strategy:
      fail-fast: false
      matrix:
        node-version: [22]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        # with:
        #   fetch-depth: 0

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Build Tact compiler fast
        run: |
          yarn install
          yarn build:fast

      - name: Perform syntax and type checking of the Cookbook
        working-directory: docs
        run: node scripts/typecheck-examples.js

      - name: Install dependencies
        working-directory: docs
        run: yarn deps

      - name: Check broken file references in README
        if: runner.os == 'Linux'
        uses: lycheeverse/lychee-action@v2
        with:
          args: "-n -s file docs/README.md"
          output: "/dev/stdout"
          fail: true
          failIfEmpty: false

      # That way, when building the docs in the next step,
      # their link checker will be able to validate the links in stdlib
      - name: Save a file with all the links in stdlib
        if: runner.os == 'Linux'
        run: |
          stdlib_path="src/stdlib/stdlib/std/internal"
          linkfile='std-internal-link-test.mdx'
          pushd "$stdlib_path"
          echo -e '---\ntitle: "std/internal link test"\n---\n' > "$linkfile"
          grep 'https://docs.tact.*$' *.tact >> "$linkfile"
          # remove possible brackets, since they can interfere
          sed -E 's|(\[\|\])||g' -i "$linkfile"
          # remove some punctuation characters after the links
          sed -E 's|(https://docs.tact-lang.org.*)[.,;]$|\1|g' -i "$linkfile"
          # proceed with replacements
          sed -E 's|https://docs.tact-lang.org(.*)$|[link](\1)|g' -i "$linkfile"
          popd
          mv "${stdlib_path}/${linkfile}" docs/src/content/docs/

      - name: Build the site
        working-directory: docs
        run: yarn build
