name: Tact CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Install dependencies

        run: |
          corepack enable
          yarn install

      - name: Build and Test Tact compiler
        run: |
          yarn clean
          yarn gen
          yarn build
          yarn coverage

      - name: Check there are no errors reported by ESLint
        run: |
          yarn lint

      - name: Check formatting with Prettier
        run: |
          yarn fmt:check

      - name: Check that tact.config.json adheres to the JSON schema
        run: |
          yarn lint:schema

      - name: Show an example .pkg file on Windows
        if: runner.os == 'Windows'
        run: |
          type examples\output\echo_Echo.pkg

      - name: Install the package locally
        run: |
          npm install -g ./

      - name: Compare Tact version from CLI flag `--version` against package.json
        if: runner.os != 'Windows'
        run: |
          if [ "$(tact --version)" != "$(jq -r '.version' < package.json)" ];
          then false
          fi

      - name: Check command line options
        run: |
          tact --check test/tact-cli/hello.tact
          tact --func test/tact-cli/hello.tact
          tact test/tact-cli/hello.tact

      - name: Check command line arguments parsing
        run: |
          ! tact --nonexistentoption test/tact-cli/tact.config.json

      - name: Tact CLI non-zero exit code
        if: runner.os != 'Windows'
        run: |
          ! tact --config test/tact-cli/tact.config.json

      - name: Link Tact compiler
        run: |
          yarn link

      - name: Test compatibility with tact-template
        run: |
          git clone https://github.com/tact-lang/tact-template.git
          cd tact-template
          yarn install
          yarn link @tact-lang/compiler
          yarn build
          yarn test
          yarn tact --version

      - name: Test compatibility with Blueprint
        run: |
          yarn create ton -- test-project --type tact-counter --contractName Counter
          cd test-project
          yarn link @tact-lang/compiler
          yarn build
          yarn test
          yarn tact --version
