name: Tact CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x]
        os: [ubuntu-latest, windows-latest, macos-latest]
    
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install

    - name: Build and Test Tact compiler
      run: |
        yarn clean
        yarn gen
        yarn build
        yarn coverage

    - name: Compare Tact version from CLI flag `--version` against package.json
      if: runner.os != 'Windows'
      run: |
        if [ "$(./bin/tact --version)" != "$(jq -r '.version' < package.json)" ];
        then false
        fi

    - name: Link Tact compiler
      run: |
        yarn link

    - name: Test compatibility with tact-template
      run: |
        git clone https://github.com/tact-lang/tact-template.git
        cd tact-template
        yarn install
        yarn link @tact-lang/compiler
        yarn build
        yarn test
        yarn tact --version
