name: Tact CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node-version: [20]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Install dependencies

        run: |
          corepack enable
          yarn install

      - name: Build and Test Tact compiler
        run: |
          yarn clean
          yarn gen
          yarn build
          yarn coverage

      - name: Check there are no errors reported by ESLint
        run: |
          yarn lint

      - name: Check formatting with Prettier
        run: |
          yarn fmt:check

      - name: Check that tact.config.json adheres to the JSON schema
        run: |
          yarn lint:schema

      - name: Spellcheck code base
        run: |
          yarn spell

      - name: Show an example .pkg file on Windows
        if: runner.os == 'Windows'
        run: |
          type examples\output\echo_Echo.pkg

      - name: Install the package locally
        run: |
          npm install -g ./

      - name: CLI Test | Compare Tact version from CLI flag `--version` against package.json
        if: runner.os != 'Windows'
        run: |
          if [ "$(tact --version)" != "$(jq -r '.version' < package.json)" ];
          then false
          fi

      - name: CLI Test | Check single-contract compilation
        run: |
          tact --check bin/test/success.tact
          tact --func bin/test/success.tact
          tact bin/test/success.tact

      - name: CLI Test | Check compilation via `--config`
        run: |
          # should output complete results
          tact --config bin/test/success.config.json
          # should only run the syntax and type checking
          tact --config bin/test/success.config.json --check

      - name: CLI Test | Check parsing of a non-existing CLI flag
        if: runner.os != 'Windows'
        run: |
          ! tact --nonexistentoption bin/test/success.config.json

      - name: CLI Test | tact executable return non-zero exit code if compilation fails
        if: runner.os != 'Windows'
        run: |
          ! tact --config bin/test/fail.config.json

      - name: Link Tact compiler
        run: |
          yarn link

      - name: Test compatibility with tact-template
        run: |
          git clone https://github.com/tact-lang/tact-template.git
          cd tact-template
          yarn install
          yarn link @tact-lang/compiler
          yarn build
          yarn test
          yarn tact --version

      - name: Test compatibility with Blueprint
        run: |
          yarn create ton -- test-project --type tact-counter --contractName Counter
          cd test-project
          yarn link @tact-lang/compiler
          yarn build
          yarn test
          yarn tact --version
