# To not merge, if build fails
name: Tact Docs CI

on:
  # For new PRs, or those who are ready and/or request a review
  pull_request:
    types:
      [
        "opened",
        "edited",
        "reopened",
        "synchronize",
        "ready_for_review",
        "review_requested",
      ]
    branches: ["main"]
    # Only start the workflow if anything inside the docs has changed
    paths: ["docs/**"]

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allow simultaneous checks
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-build:
    strategy:
      fail-fast: false
      matrix:
        node-version: [22]
    runs-on: tact-runner-linux

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        # with:
        #   fetch-depth: 0

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Build Tact compiler fast
        run: |
          yarn install
          yarn build:fast

      - name: Perform syntax and type checking of the Cookbook
        working-directory: docs
        run: node scripts/check-cookbook-examples.js

      - name: Install dependencies
        working-directory: docs
        run: yarn deps

      - name: Check broken file references in README
        if: runner.os == 'Linux'
        uses: lycheeverse/lychee-action@v2
        with:
          args: "-n -s file docs/README.md"
          output: "/dev/stdout"
          fail: true
          failIfEmpty: false

      - name: Build the site
        working-directory: docs
        run: yarn build
